.logo {
    font-family: 'Alice', serif;
    font-size: 1.3rem;
    margin-left: 2.5%;
}
.nav-link {
    color:black;
}

.nav-bar a:before {
    background-color: #1687A7;
}
.nav-bar .underline:before {
    background-color: #1687A7;
}

.container {
    display: flex;
    flex-direction: row;
}

.image img {
    width: 70vh;
    position: relative;
    top: 80px;
    right: 30%;

}

.title {
    position: relative;
    top: 120px;
}

.title h1 {
    position: relative;
    left: 6.5%;
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: 'Roboto Slab', serif;
    font-size: 2.7rem;
    width: 70%;
    letter-spacing: 1px;
}

.title p {
    position: relative;
    left: 6.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    width: 64%;
}

@media screen and (max-width: 500px) {

    .nav-link {
        color: whitesmoke;
    }
    .nav-bar .exp {
        color: whitesmoke;
    }
    .nav-bar a:before {
        background-color: #FFFF00;
    }
    .nav-bar .underline:before {
        background-color: #FFFF00;
    }

    .image img {
        position: absolute;
        width: 80%;
        left: 5%;
    }

    .title h1 {
        margin-top: 60px;
        font-size: 2rem;
        top: 100px;
        left: 9%;
        letter-spacing: 0;
    }
    .title p {
        margin-left: 2%;
        margin-top: 120px;
        margin-bottom: 20px;
        width: 90%;
        font-size: 16px;
    }
}