.logo {
    font-family: 'Alice', serif;
    font-size: 1.3rem;
    margin-left: 2.5%;
}

.nav-menu {
    margin-top: 13px;
}

.nav-link {
    color:black;
}

.nav-bar a:before {
    background-color: #1687A7;
}
.nav-bar .underline:before {
    background-color: #1687A7;
}
.title {
    font-family: 'Roboto Slab', serif;
    margin: 30px 45%;
    margin-top: 0;
}

.carousel {
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 500px) {
    .nav-bar {
        position: relative;
        z-index: 3;
    }
    .nav-link {
        color: whitesmoke;
    }
    .nav-bar .exp {
        color: whitesmoke;
    }

    .nav-bar a:before {
        background-color: #FFFF00;
    }
    .nav-bar .underline:before {
        background-color: #FFFF00;
    }

    .carousel {
        width: 100%;
    }

    .title {
        margin: 60px 32%;
        margin-bottom: 100px;
    }
}