body {
    background-color: #CCF2F4;
}
.logo {
    font-family: 'Alice', serif;
    font-size: 1.3rem;
}
.nav-link {
    color:black;
}

.navbar a:before {
    background-color: #1687A7;
}
.navbar .underline:before {
    background-color: #1687A7;
}

.container {
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 9% 25%;
    border-top: 3px solid #005A8D;
    border-radius: 20px;
    box-shadow: -13px 19px 39px 4px rgba(0,0,0,0.4);
}

.title {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-flow: column;
}

.title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    margin-bottom: 60px;
}

.title input,
.title button {
    margin-top: 50px;
    padding: 10px 40px 10px 20px;
    border-radius: 20px;
    border: 3px solid #548CA8;
    outline: none;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    opacity: 0.7;
    font-weight: 600;
}

.title .btn {
    -webkit-border-radius: 34;
    -moz-border-radius: 34;
    border-radius: 34px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #548CA8;
    padding: 10px 40px;
    transition: 0.3s ease-out;
  }
  
  .btn:hover {
    color: #548CA8;
    background: transparent;
  }


.image img {
    position: relative;
    bottom: 80px;
    left: 75%;
    width: 50vh;
}

.social-media {
    position: absolute;
    top: 80%;
    left: 62%;
}

.social-media i {
    margin-right:25px;
    cursor: pointer;
    transition: 0.2s ease-out;
    font-size: 30px;
}

.social-media i:hover {
    color: #39A9CB  ;
}

@media screen and (max-width: 500px) {

    .nav-link {
        color: whitesmoke;
    }
    .navbar .exp {
        color: whitesmoke;
    }

    .navbar a:before {
        background-color: #FFFF00;
    }
    .navbar .underline:before {
        background-color: #FFFF00;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .container {
        position: absolute;
        top: 40;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 35vh;
        height: 70vh;
        border-top: 3px solid #005A8D;
        border-radius: 20px;
        box-shadow: none;
    }

    .image img{
        display: none;
    }

    .title {
        position: absolute;
        top: 40%;
        left: 50%;
    }

    .title h1 {
        font-size: 30px;
        margin: auto;
        margin-bottom: 20px;
    }

    .title input,
    .title button {
        margin-top: 20px;
    }

    .title .btn {
        padding: 7px 40px;
    }

    .social-media {
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
        left: 14%;
        top: 80%;
    }

    .social-media i {
        margin-right:15px;
        font-size: 22px;
    }
}