* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}   

/* navbar  */

li {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 16px;
    font-weight: 400;
    color: azure;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

nav img {
    width: 220px;
    margin-left: -17px;
}

.navbar a
{
    position: relative;
    
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #FFFF00;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navbar .underline:before {
    background-color: #ac019b;
}

.navbar a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar .exp {
    color: black;
}


/* back colour */

.back-colour {
    position:absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    background-color: black;
    min-width: 163%;
    min-height: 168%;
    z-index: -1;
    border-bottom-right-radius: 20px;
}

/* picture */

.phone-pic .phone {
    position: absolute;
    top: 8%;
    left: 63%;
    width: 57vh;
}
.phone-pic .svg-back {
    position: absolute;
    z-index: -1;
    width: 40%;
    left: 54%;
    top: 19%;
}

/* desciption */

.des h1 {
    color: azure;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 50%;
    position: relative;
    top: 170px;
    left: 4%;
    animation: ani 1.5s linear forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
        margin-top: 40px;
    }
    25% {
        opacity: 0.2;
        margin-top: 30px;
    }
    50% {
        opacity: 0.5;
        margin-top: 20px;
    }
    75% {
        opacity: 0.7;
        margin-top: 10px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #1687A7;
        width: 90%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
        margin-left: 5%;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .nav-link {
        color: whitesmoke;
    }
    .navbar .exp {
        color: whitesmoke;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar a:before {
        background-color: #FFFF00;
    }
    .navbar .underline:before {
        background-color: #FFFF00;
    }

    .logo {
        margin: auto;
    }

    .phone-pic .phone {
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 33vh;
    }
    .phone-pic .svg-back {
        top: 98%;
        left: 5%;
        width: 90%;
        padding-bottom: 50px;
    }

    .des h1 {
        font-size: 1.5rem;
        color: azure;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        width: 70%;
        position: relative;
        top: 170px;
    }




}